<!DOCTYPE html>
<html>

<head>
    <title>Node.js MongoDB Demo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    
    
</head>

<body class="bg-info">
    <div align="center">
        <!-- Inserting the image -->
        <img src="/jassu.png" alt="Logo">
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3" style="background-color: #fff; margin-top: 40px; padding:20px;">
            <!-- retrieving HTML String from the child Views -->
            {{{body}}}
        </div>
    </div>
</body>

</html>